body {
    /*background: linear-gradient(45deg, #aaa, white) !important;*/
    font-family: "Lato", sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    margin-top: 0px !important
}

.tonius-button-dark {
    background: linear-gradient(90deg, #000209, #090914) !important;
    color: #fff !important;
}

.tonius-button-dark:hover {
    background: #1b1b2e !important;
    color: #000209 !important;
}

.tonius-white {
    background: radial-gradient(white, #f2f2f5) !important;
    color: #000 !important;
}

.tonius-dark {
    /*background: linear-gradient(90deg, #090914, #090914) !important;*/
    background-image: url("res/tonius-dark7.png");
    background-size: cover;
    color: #fff !important;
}

.tonius-light {
    background-image: url("res/tonius-light2.png") !important;
    background-size: cover !important;
    color: #000 !important;
}

.tonius-focus {
    transform: scale(0.99);
    transition: transform 100ms ease-in;
}

.tonius-focus:hover {
    transform: scale(1.03);
}

.button {
    color: #000209;
}

.nav {
    background-color: #1b1b2e;
}

.button:hover {
    color: #fff !important;
    background-color: #000209 !important
}

.button i {
    transform: scale(0.85);
    transition: transform 150ms ease-in;
}

.button:hover i {
    transform: scale(1.05);
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main, #footer {
    margin-left: 120px
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main, #footer {
        margin-left: 0
    }

    #profile {
        width: 95%
    }
}

@media only screen and (max-height: 650px) {
    .nav a {
        height: 80px
    }

    .shadow {
        display: none;
    }
}

@media only screen and (max-height: 525px) {
    .nav a {
        height: 60px
    }
}

@media only screen and (max-height: 425px) {
    .nav {
        visibility: hidden
    }

    #main, #footer {
        margin-left: 0
    }

    #profile {
        width: 95%
    }
}

@media only screen and (min-height: 426px) {

    .nav2 {
        visibility: hidden
    }
}
