:root {
    --bg-color: #1B1B2E;
    --fg-color: #1B1B2E;
    --active-color: #FFFFFF;
    --text-color: #FFFFFF;
    --subtle-border: rgba(255, 255, 255, 0.15);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    margin-top: 0px !important
}

.tonius-button-dark {
    background: linear-gradient(90deg, #000209, #090914) !important;
    color: #fff !important;
}

.tonius-button-dark:hover {
    background: #1b1b2e !important;
    color: #fff !important;
}

.tonius-white {
    background: linear-gradient(#b9b9bd, #96969e) !important;
    color: #000 !important;
}

.tonius-dark {
    /*background: linear-gradient(90deg, #090914, #090914) !important;*/
    background-size: cover;
    color: #fff !important;
}

.tonius-light {
    background-image: url("res/tonius-light2.png") !important;
    background-size: cover !important;
    color: #000 !important;
}

.tonius-focus {
    transform: scale(0.99);
    transition: transform 100ms ease-in;
}

.tonius-focus:hover {
    transform: scale(1.03);
}

.button {
    color: #fff;
}

.nav {
    background-color: #1b1b2e;
}

.button:hover {
    color: #fff !important;
    background-color: #1b1b2e;
}

.button i {
    transform: scale(0.85);
    transition: transform 150ms ease-in;
}

.button:hover i {
    transform: scale(1.05);
}

@media only screen and (max-height: 650px) {
    .nav a {
        height: 80px
    }

    .shadow {
        display: none;
    }
}
